/* 
        --------------
        import modules 
        --------------
*/
@import 'modules/normalize';
@import 'variables/variables';
/* 
        --------------
        import blocks 
        --------------
*/
@import 'blocks/header';

body {
	font-family: 'Roboto', sans-serif;
	color: $color-main;
	font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

a {
		text-decoration: none;
		color: $color-main;
}

ul {
		list-style: none;
}
