.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #474747;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-dark;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.burger-menu {
  display: none;
}

.header__logo {
  a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $orange;
    position: relative;
    z-index: 3;
    transition: all 0.4s;

    &:hover {
      color: #fff;
    }
  }

}

.header__menu {
  display: flex;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-left: 15px;
}

.header__link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s;
}

.header__link:hover {
  color: $orange;
}

@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }

  .header__wrapper {
    min-height: 50px;
  }

  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .burger-menu:before,
  .burger-menu:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .burger-menu:before {
    top: 0;
  }

  .burger-menu:after {
    bottom: 0;
  }

  .burger-menu span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
  }

  .burger-menu.active span {
    transform: scale(0);
  }

  .burger-menu.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger-menu.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-gray;
    padding: 70px 15px 20px 15px;
    transition: all 0.5s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .header__list li {
    margin: 0 0 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(80, 80, 80);

  }

  .header__link {
    font-size: 18px;
  }
}
