@media (max-width: 1199px) {
  .promo__title {
    span {
      font-size: 38px;
    }
  }
}

@media (max-width: 991px) {
  .header {
    .promo {
      min-height: 390px;

      &__title {
        font-size: 33px;

        span {
          font-size: 29px;
        }
      }

      &__subtitle {
        font-size: 16px;
      }

      &__img-html {
        top: 10px !important;
        left: 165px !important;

        img {
          width: 90%;
        }
      }

      &__img-css {
        top: 111px !important;
        left: 238px !important;

        img {
          width: 90%;
        }
      }

      &__img-js {
        left: 98px !important;

        img {
          width: 90%;
        }
      }
    }

    .services-wrapper {
      .services {
        padding-top: 20px;
        padding-bottom: 26px;

        &__descr {
          font-size: 13px;
        }
      }
    }

  }
}

@media (max-width: 766px) {
  .header {
    .promo {
      min-height: 349px;
    }

    .promo__block-l {
      padding-left: 0px;
    }

    .promo__title {
      font-size: 26px;

      span {
        font-size: 22px;
      }
    }

    .promo__subtitle {
      font-size: 15px;
    }

    .promo__img-html {
      top: 2px !important;
      left: 150px !important;

      img {
        width: 80%;
      }
    }

    .promo__img-css {
      top: 101px !important;
      left: 182px !important;

      img {
        width: 80%;
      }
    }

    .promo__img-js {
      top: 73px !important;
      left: 79px !important;

      img {
        width: 80%;
      }
    }

    .services-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 575px) {
  .header .services-wrapper .services:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
}
  .header {
    .header__navbar {
      position: fixed;
    width: 100%;
    z-index: 62;
    background: #fff;
    top: 0;
    left: 0;
    padding: 0 20px;
    }
    .burger-menu {
    display: block;
    }
    .header__menu {
      display: none;
      position: absolute;
      background: #333;
      width: 100%;
      top: 50px;
      left: 0;
      text-align: center;
  }


  .promo {
    margin-top: 65px;
    text-align: center;
    flex-direction: column;
    padding-bottom: 30px;

  }

  .promo__subtitle {
    max-width: 300px;
    margin: 0 auto;
  }

  .promo__img {
    img {
      width: 85%;
    }
  }

  .promo__title {
    margin-top: 65px;
  }
  }
}

@media (max-width: 420px) {
  .header {
    .promo__img-html img,
    .promo__img-js img,
    .promo__img-css img {
    width: 60%;
  }
  .promo__img img {
    width: 100%;
  }
  .promo__img-html {
    left: 112px !important;
  }

  .promo__img-js {
    left: 48px !important;
  }

  .promo__img-css {
    top: 88px !important;
    left: 130px !important;

  }

  }

}
