.skill {
    margin-top: 100px;
    background-color: #FCFCFC;
    padding-top: 85px;
    padding-bottom: 85px;
    .title {
        margin-bottom: 80px;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &-box {
        width: 60%;
    }
    &-img {
       width: 30%;
       position: relative;
       z-index: 2;
       img {
           max-width: 100%;
           width: 100%;
           z-index: 2;

       }
       &::before {
        
            content: '';
            position: absolute;
            display: block;
            background-color: #73B2D8;
            width: 70%;
            height: 70%;
             z-index: -1;    
             top: 6%;
             left: 20%;
             border-radius: 50%;

       }
       .brain {
           position: absolute;
           display: block;
           background-color: #FCFCFC;
           width: 70%;
           height: 70%;
            z-index: -1;    
            top: 6%;
            left: 20%;
            border-radius: 0%;
       }
    }

    .brain-anim{
        -webkit-animation-name: brain-anim;
        animation-name: brain-anim;
        -webkit-animation-delay: 200ms;
        animation-delay: 500ms;
        animation-duration: 4s;
        animation-fill-mode: forwards;
      }
      @keyframes brain-anim{
          0%{height: 70%; width: 70%;} 
 /*            20%{height: 60%;}
          50%{height: 50%} */

          100%{  height: 15%;}}
}